div {
    white-space: pre;
    font-family: monospace;
}

.div-left {
    float: left;
    width: 50%;
}

.button-left {
    float: left;
    width: 25%;
}

.text-left {
    float: left;
    width: 50%;
}