<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Library application</title>
    <link rel="stylesheet" type="text/css" href="library.css"></link>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="delete-book-div" class="div-entries">
    <input type="text" id="delete-book-isbn10-text" class="text readonly" placeholder="ISBN 10"/>
    <input type="text" id="delete-book-isbn13-text" class="text readonly" placeholder="ISBN 13"/>
    <input type="text" id="delete-book-title-text" class="text readonly" placeholder="Title"/>
    <input type="text" id="delete-book-authors-text" class="text readonly" placeholder="Authors"/>
    <input type="text" id="delete-book-pages-text" class="text readonly" placeholder="Number of pages"/>
    <button id="delete-book-button" class="button-left">Delete book</button>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="books-model.js"></script>
<script src="delete-book-view.js"></script>
<script src="delete-book-controller.js"></script>

</body>
</html>
