<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Library application</title>
  <link rel="stylesheet" type="text/css" href="library.css"></link>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="search-books-div" class="div-entries">
  <input type="text" id="search-books-text" class="text" placeholder="Search by title, isbn or author"/>
  <button id="search-books-button" class="button">Search</button>

  <div id="books-div" class="div-entries div-results"></div>
</div>


<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/book :: book"></div>
<script src="search-books-view.js"></script>
<script src="search-books-controller.js"></script>

</body>
</html>
